#content {
    width: 850px;
}

div.label {
    width: 258px;
    height: 98px;
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 14px;
}

div.item_information {
    width: 160px;
    height: 70px;
}

div.item_image {
    width: 70px;
    height: 70px;
    padding: 1px;
    position: absolute;
    top: 0px;
    left: 160px;
}

img.item_image {
    width: 98px;
    height: 98px;
}

p {
    font-size: 10px;
    height: 14px;
    color: black;
    padding: 0px;
    margin: 0px;
}

p.item_name {
    font-size: 14px;
    height: 18px;
    color: green;
}

p.item_description {
    font-size: 12px;
    height: 16px;
}

p.quantity {
    font-size: 12px;
    height: 16px;
    font-weight: bold;
}
