{% extends "orders/base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/label_styles.css" /> 
{% endblock %}

{% block content %}
{% for label in labels %}
    <div class="label">
        <div class="item_information">
            <p class="item_name">{{ label.name }}</p>
            <p>{% if label.description %}{{ label.description }}{% endif %}</p>
            <p>{% if label.relationship %}{{ label.relationship }}{% endif %}</p>
            <p class="quantity">{{ label.quantity }}</p>
        </div>
        {% if label.image_url %}
        <div class="item_image">
            <img class="item_image" src="{{ label.image_url }}" />
        </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
